{% extends 'base.html' %}
{% block content %}
<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    계좌정보
  </h2>
  <!-- Responsive cards -->
  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          카카오은행
        </p>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          331000000000
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          50,000원
        </p>
      </div>
    </div>
   <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          우리은행
        </p>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          113000000000
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          200,000원
        </p>
      </div>
    </div><div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          신한은행
        </p>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          151000000000
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          400,000원
        </p>
      </div>
    </div><div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          NH농협은행
        </p>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          302000000000
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          1,100,000원
        </p>
      </div>
    </div>
  </div>
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    은행별 지출 내역
  </h2>

  <!-- 은행 상세정보 1 -->
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    카카오은행
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">날짜</th>
            <th class="px-4 py-3">거래금액</th>
            <th class="px-4 py-3">잔액</th>
            <th class="px-4 py-3">사용처</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-10 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -30,000
              </span>
            </td>
            <td class="px-4 py-3"> 50,000 </td>
            <td class="px-4 py-3"> 이체 </td>
          </tr>
          <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3"> 2021-07-05 </td>
              <td class="px-4 py-3 text-xs">
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                  +20,000
                </span>
                <!--
                <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                  -30,000
                </span>
                -->
              </td>
              <td class="px-4 py-3"> 80,000 </td>
              <td class="px-4 py-3"> 입금 </td>
            </tr>
            <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-03 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -20,000
              </span>
            </td>
            <td class="px-4 py-3"> 60,000 </td>
            <td class="px-4 py-3"> 네이버쇼핑 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <!-- 은행 상세정보 2 -->
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    우리은행
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">날짜</th>
            <th class="px-4 py-3">거래금액</th>
            <th class="px-4 py-3">잔액</th>
            <th class="px-4 py-3">사용처</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-10 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -30,000
              </span>
            </td>
            <td class="px-4 py-3"> 50,000 </td>
            <td class="px-4 py-3"> 이체 </td>
          </tr>
          <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3"> 2021-07-05 </td>
              <td class="px-4 py-3 text-xs">
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                  +20,000
                </span>
                <!--
                <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                  -30,000
                </span>
                -->
              </td>
              <td class="px-4 py-3"> 80,000 </td>
              <td class="px-4 py-3"> 입금 </td>
            </tr>
            <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-03 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -20,000
              </span>
            </td>
            <td class="px-4 py-3"> 60,000 </td>
            <td class="px-4 py-3"> 네이버쇼핑 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <!-- 은행 상세정보 3 -->
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    신한은행
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">날짜</th>
            <th class="px-4 py-3">거래금액</th>
            <th class="px-4 py-3">잔액</th>
            <th class="px-4 py-3">사용처</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-10 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -30,000
              </span>
            </td>
            <td class="px-4 py-3"> 50,000 </td>
            <td class="px-4 py-3"> 이체 </td>
          </tr>
          <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3"> 2021-07-05 </td>
              <td class="px-4 py-3 text-xs">
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                  +20,000
                </span>
                <!--
                <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                  -30,000
                </span>
                -->
              </td>
              <td class="px-4 py-3"> 80,000 </td>
              <td class="px-4 py-3"> 입금 </td>
            </tr>
            <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-03 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -20,000
              </span>
            </td>
            <td class="px-4 py-3"> 60,000 </td>
            <td class="px-4 py-3"> 네이버쇼핑 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <!-- 은행 상세정보 4 -->
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    NH농협은행
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">날짜</th>
            <th class="px-4 py-3">거래금액</th>
            <th class="px-4 py-3">잔액</th>
            <th class="px-4 py-3">사용처</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-10 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -30,000
              </span>
            </td>
            <td class="px-4 py-3"> 50,000 </td>
            <td class="px-4 py-3"> 이체 </td>
          </tr>
          <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3"> 2021-07-05 </td>
              <td class="px-4 py-3 text-xs">
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                  +20,000
                </span>
                <!--
                <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                  -30,000
                </span>
                -->
              </td>
              <td class="px-4 py-3"> 80,000 </td>
              <td class="px-4 py-3"> 입금 </td>
            </tr>
            <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> 2021-07-03 </td>
            <td class="px-4 py-3 text-xs">
              <!--
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +
              </span>
              -->
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -20,000
              </span>
            </td>
            <td class="px-4 py-3"> 60,000 </td>
            <td class="px-4 py-3"> 네이버쇼핑 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Charts -->
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    월별 카드지출 내역
  </h2>
  <div class="grid gap-6 mb-8 md:grid-cols-2">
    <div
      class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Revenue
      </h4>
      <canvas id="pie"></canvas>
      <div
        class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
      >
        <!-- Chart legend -->
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-blue-500 rounded-full"
          ></span>
          <span>Shirts</span>
        </div>
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-teal-600 rounded-full"
          ></span>
          <span>Shoes</span>
        </div>
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"
          ></span>
          <span>Bags</span>
        </div>
      </div>
    </div>
    <div
      class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Traffic
      </h4>
      <canvas id="line"></canvas>
      <div
        class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
      >
        <!-- Chart legend -->
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-teal-600 rounded-full"
          ></span>
          <span>Organic</span>
        </div>
        <div class="flex items-center">
          <span class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"></span>
          <span>Paid</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
