{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error Page {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather x-circle"></i>
                    </div>
                    <h3 class="mb-4">페이지를 찾을 수 없습니다</h3>

                    <br />

                    <span class="mb-2 text-muted">
                        잠시후 다시 시도해 주세요
                    </span>
                    </br>
                    <span class="mb-0 text-muted">
                        <a href="{% url 'index' %}">홈으로 돌아가기</a>
                    </span>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
