{% extends "layouts/base.html" %}

{% block title %} OpenBanking {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content gb-font">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->

    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <!--[ card section ] start-->
          {% for account in accountInfoList %}
          <div class="col-md-6 col-xl-3">
            <div class="card card-event">
              <div class="card-block">
                <div class="row align-items-center justify-content-center">
                  <div class="col">
                    <h5 class="m-0"><b>{{ account.bank_name }}</b></h5>
                  </div>
                </div>
                <h3 class="mt-3 f-w-300">{{ account.balance_amt }}<sub class="text-muted f-14"> 원</sub></h3>
                <h5 class="text-muted mt-3 mb-0">{{ account.account_num_masked }} </h5>
                <i class="fas fa-piggy-bank text-c-purple f-50"></i>
              </div>
            </div>
          </div>

          {% endfor %}
          <!--[ card section ] end-->

          <div class="col-xl-12 col-md-12 m-b-30">
            <h5 class="mt-4">은행별 지출내역</h5>
            <hr>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              {% for account in accountInfoList %}
              <li class="nav-item">
                {% if  account.bank_idx == 0%}
                <a class="nav-link active" id="{{account.bank_name}}-tab" data-toggle="pill" href="#{{account.bank_name}}"
                   role="tab" aria-controls="{{account.bank_name}}" aria-selected="false">
                  {{ account.bank_name }}</a>
                {% else %}
                <a class="nav-link" id="{{account.bank_name}}-tab" data-toggle="pill" href="#{{account.bank_name}}"
                   role="tab" aria-controls="{{account.bank_name}}" aria-selected="false">
                  {{ account.bank_name }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
              {% for accountTrans in accountTransList %}
              {% if  accountTrans.bank_idx == 0%}
              <div class="tab-pane fade show active" id="{{accountTrans.bank_name}}" role="tabpanel" aria-labelledby="{{accountTrans.bank_name}}-tab">
              {% else %}
              <div class="tab-pane fade" id="{{accountTrans.bank_name}}" role="tabpanel" aria-labelledby="{{accountTrans.bank_name}}-tab">
              {% endif %}

                <canvas class="mb-5" id="myChart{{accountTrans.bank_name}}" height="100"></canvas>
                <script>
                var ctx = document.getElementById('myChart{{accountTrans.bank_name}}').getContext('2d');
                var myChart{{accountTrans.bank_name}} = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                        datasets: [{
                            label: '모든 계좌의 월별 사용금액',
                            data: [
                            {% for all_month_use_balance_amt in allMonthUseBalanceAmt %}
                              {{all_month_use_balance_amt}},
                            {% endfor %}
                            ],
                            backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                            borderColor: ['rgba(54, 162, 235, 1)'],
                            borderWidth: 0.5
                        },
                        {
                            label: '{{accountTrans.bank_name}}의 월별 사용금액',
                            data: [
                            {% for month_use_balance_amt in accountTrans.month_use_balance_amt %}
                              {{month_use_balance_amt}},
                            {% endfor %}
                            ],
                            backgroundColor: ['rgba(153, 102, 255, 0.2)'],
                            borderColor: ['rgba(153, 102, 255, 1)'],
                            borderWidth: 0.5
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>

                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>날짜</th>
                      <th>거래금액</th>
                      <th>잔액</th>
                      <th>사용처</th>
                      <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for res in accountTrans.res_list %}
                    <tr>
                      <td>
                        <h6 class="m-0">{{ res.tran_date }} {{ res.tran_time }}</h6>
                      </td>
                      <td>
                        {% if res.inout_type == '입금' %}
                        <h6 class="m-0 text-c-green">+{{ res.tran_amt }}</h6>
                        {% else %}
                        <h6 class="m-0 text-c-red ">-{{ res.tran_amt }}</h6>
                        {% endif %}
                      </td>
                      <td>
                        <h6 class="m-0">{{ res.after_balance_amt }}</h6>
                      </td>
                      <td>
                        <h6 class="m-0">{{ res.print_content }}</h6>
                      </td>
                      <td class="text-right">
                        {% if res.inout_type == '입금' %}
                        <i class="fas fa-circle text-c-green f-10"></i>
                        {% else %}
                        <i class="fas fa-circle text-c-red f-10"></i>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- [ Morris Chart ] start -->
            <!--
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Bar [ Simple ] Chart</h5>
                    </div>
                    <div class="card-block">
                        <div id="morris-bar-chart" style="height:300px"></div>
                    </div>
                </div>
            </div>
            -->

          </div>
          <!-- [ Main Content ] end -->
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

  <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
  <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
  <script src="/static/assets/js/pages/chart-morris-custom.js"></script>

  {% endblock javascripts %}
