{% extends 'base.html' %}
{% block content %}
<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    계좌정보
  </h2>
  <!-- Responsive cards -->
  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    {% for account in accountInfoList %}
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            {{ account.bank_name }}
          </p>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            {{ account.account_num_masked }}
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ account.balance_amt }}원
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    은행별 지출 내역
  </h2>

  <!-- 은행 상세정보 1 -->
  {% for accountTrans in accountTransList %}
  <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    {{ accountTrans.bank_name }}
  </h4>
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-sm font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">날짜</th>
            <th class="px-4 py-3">거래금액</th>
            <th class="px-4 py-3">잔액</th>
            <th class="px-4 py-3">사용처</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for res in accountTrans.res_list|slice:":5"  %}
          {% if res.inout_type == '입금' %}
          {% endif %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3"> {{ res.tran_date }} </td>
            <td class="px-4 py-3 text-xs">
              {% if res.inout_type == '입금' %}
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                +{{ res.tran_amt }}
              </span>
              {% else %}
              <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                -{{ res.tran_amt }}
              </span>
              {% endif %}
            </td>
            <td class="px-4 py-3"> {{ res.after_balance_amt }} </td>
            <td class="px-4 py-3"> {{ res.print_content }} {{ res.branch_name }} </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <br>
  {% endfor %}

  <!-- Charts -->
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    월별 카드지출 내역
  </h2>
  <div class="grid gap-6 mb-8 md:grid-cols-2">
    <div
      class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Revenue
      </h4>
      <canvas id="pie"></canvas>
      <div
        class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
      >
        <!-- Chart legend -->
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-blue-500 rounded-full"
          ></span>
          <span>Shirts</span>
        </div>
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-teal-600 rounded-full"
          ></span>
          <span>Shoes</span>
        </div>
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"
          ></span>
          <span>Bags</span>
        </div>
      </div>
    </div>
    <div
      class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Traffic
      </h4>
      <canvas id="line"></canvas>
      <div
        class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
      >
        <!-- Chart legend -->
        <div class="flex items-center">
          <span
            class="inline-block w-3 h-3 mr-1 bg-teal-600 rounded-full"
          ></span>
          <span>Organic</span>
        </div>
        <div class="flex items-center">
          <span class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"></span>
          <span>Paid</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
