{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content gb-font">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ card section ] start-->
                        {% for account in accountInfoList %}
                        <div class="col-md-6 col-xl-3">
                            <div class="card card-event">
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col">
                                            <h5 class="m-0"><b>{{ account.bank_name }}</b></h5>
                                        </div>
                                    </div>
                                    <h3 class="mt-3 f-w-300">{{ account.balance_amt }}<sub class="text-muted f-14"> 원</sub></h3>
                                    <h5 class="text-muted mt-3 mb-0">{{ account.account_num_masked }} </h5>
                                    <i class="fas fa-piggy-bank text-c-purple f-50"></i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--[ card section ] end-->

                        <div class="col-xl-12 col-md-12 m-b-30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for account in accountInfoList %}
                                <li class="nav-item">
                                    {% if  account.bank_idx == 0%}
                                        <a class="nav-link active show" id="{{account.bank_name}}-tab" data-toggle="tab" href="#{{account.bank_name}}"
                                           role="tab" aria-controls="{{account.bank_name}}" aria-selected="false">
                                            {{ account.bank_name }}</a>
                                    {% else %}
                                        <a class="nav-link" id="{{account.bank_name}}-tab" data-toggle="tab" href="#{{account.bank_name}}"
                                           role="tab" aria-controls="{{account.bank_name}}" aria-selected="false">
                                            {{ account.bank_name }}
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                {% for accountTrans in accountTransList %}
                                {% if  accountTrans.bank_idx == 0%}
                                <div class="tab-pane active show" id="{{accountTrans.bank_name}}" role="tabpanel" aria-labelledby="{{accountTrans.bank_name}}-tab">
                                {% else %}
                                <div class="tab-pane fade" id="{{accountTrans.bank_name}}" role="tabpanel" aria-labelledby="{{accountTrans.bank_name}}-tab">
                                {% endif %}
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>날짜</th>
                                                <th>거래금액</th>
                                                <th>잔액</th>
                                                <th>사용처</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in accountTrans.res_list %}
                                            <tr>
                                                <td>
                                                    <h6 class="m-0">{{ res.tran_date }}</h6>
                                                </td>
                                                <td>
                                                    {% if res.inout_type == '입금' %}
                                                    <h6 class="m-0">+{{ res.tran_amt }}</h6>
                                                    {% else %}
                                                    <h6 class="m-0">-{{ res.tran_amt }}</h6>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ res.after_balance_amt }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-green">{{ res.after_balance_amt }}</h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- [ Morris Chart ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Bar [ Simple ] Chart</h5>
                                </div>
                                <div class="card-block">
                                    <div id="morris-bar-chart" style="height:300px"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/chart-morris-custom.js"></script>
{% endblock javascripts %}